@model CoreApp.Models.Employee
<head>
    <title>Change Password</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div style="font-family:Calibri;padding:10px; margin:20px ; width:70%">
        <div style="text-align:center;vertical-align:middle">
            <h3>Change Password</h3>
        </div>
        <hr />

        <div style="width:50%; border:solid thin blue; margin:10px">
            <form asp-action="UpdatePassword" asp-controller="Employee" method="post">

                <input type="hidden" class="form-control" asp-for="Id" />

                <div style="margin-top:10px">
                    <div>Current Password</div>
                    <div><input type="password" name="CurrentPassword" class="form-control" required /></div>
                </div>

                <div style="margin-top:10px">
                    <div>New Password</div>
                    <div><input type="password" class="form-control" asp-for="Password" required /></div>
                </div>

                <div style="margin-top:10px">
                    <div>Confirm New Password</div>
                    <div><input type="password" name="ConfirmNewPassword" class="form-control" required /></div>
                </div>

                <div style="margin-top:10px">
                    <div style="display:inline-block; margin:10px; width:45%">
                        <a asp-action="Index" asp-controller="Employee" class="btn btn-warning" style="width:100%">Cancel</a>
                    </div>
                    <div style="display:inline-block; margin:10px; width:45%">
                        <button type="submit" class="btn btn-success" style="width:100%">Change Password</button>
                    </div>
                    <div style="margin-top:10px; color:red">
                        <div>@ViewBag.LoginMessage</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>